In [18]:
import pandas as pd

od_ed_visits = pd.read_csv("../Semi-Clean Data/cleaned_od_ed_visits_2018.csv")

In [19]:
od_ed_visits.head()

,Unnamed: 0,County Name,anyod_annual_ED_rate_by_visit_18,op_od_annual_ED_rate_by_visit_18,anyod_annual_ED_rate_by_ppl_18,op_od_annual_ED_rate_by_ppl_18
0,0,Adams,63.240638,8.554991,6.473773,1.001853
1,1,Allegheny,73.271708,18.053902,8.249881,2.152409
2,2,Armstrong,33.592188,2.753188,7.388562,1.942354
3,3,Beaver,66.888480,2.022103,7.719393,0.662092
4,4,Bedford,50.387198,7.602126,5.620875,0.722447

In [20]:
od_ed_visits = od_ed_visits.drop(columns=('Unnamed: 0'))
od_ed_visits = od_ed_visits.rename(columns={'County Name': 'County','anyod_annual_ED_rate_by_visit_18': 'Annual Any Overdose ED Rate by Visit', "op_od_annual_ED_rate_by_visit_18" : "Annual Opioid Overdose ED Rate by Visit", "anyod_annual_ED_rate_by_ppl_18" : "Annual Any Overdose ED Rate by Population", "op_od_annual_ED_rate_by_ppl_18" : "Annual Opioid Overdose ED Rate by Population"})

In [21]:
od_ed_visits.head()

,County,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
0,Adams,63.240638,8.554991,6.473773,1.001853
1,Allegheny,73.271708,18.053902,8.249881,2.152409
2,Armstrong,33.592188,2.753188,7.388562,1.942354
3,Beaver,66.888480,2.022103,7.719393,0.662092
4,Bedford,50.387198,7.602126,5.620875,0.722447

In [22]:
od_ed_visits = od_ed_visits.set_index('County')

In [23]:
od_ed_visits.head()

,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
County,,,,
Adams,63.240638,8.554991,6.473773,1.001853
Allegheny,73.271708,18.053902,8.249881,2.152409
Armstrong,33.592188,2.753188,7.388562,1.942354
Beaver,66.888480,2.022103,7.719393,0.662092
Bedford,50.387198,7.602126,5.620875,0.722447

In [24]:
od_ed_visits.to_csv("../Clean Data/further_cleaned_od_ed_visits_2018.csv")