# Cleaning All death data and OD death data

## All Death Data

In [23]:
import pandas as pd

df = pd.read_csv("../original data pulls/all_types_of_death.csv")

In [24]:
df.head()

    county_name  death_year   type  death_count
0  Pennsylvania        2000  final       130092
1  Pennsylvania        2001  final       129648
2  Pennsylvania        2002  final       129396
3  Pennsylvania        2003  final       128890
4  Pennsylvania        2004  final       126602

In [25]:
finished_deaths_df = []

finished_deaths_df = df.loc[df['death_year'] == 2018]

In [26]:
finished_deaths_df.head()

     county_name  death_year       type  death_count
18  Pennsylvania        2018  projected       134571
38         Adams        2018  projected         1055
58     Allegheny        2018  projected        14051
78     Armstrong        2018  projected          855
98        Beaver        2018  projected         2185

In [27]:
finished_deaths_df.type.value_counts()

projected    68
Name: type, dtype: int64

In [29]:
finished_deaths_df = finished_deaths_df.rename(columns={'county_name':'County'})
finished_deaths_df = finished_deaths_df.set_index('County')

In [30]:
finished_deaths_df = finished_deaths_df.drop(columns=('type'))
finished_deaths_df = finished_deaths_df.drop(columns=('death_year'))
finished_deaths_df.head()

              death_count
County
Pennsylvania       134571
Adams                1055
Allegheny           14051
Armstrong             855
Beaver               2185

In [32]:
finished_deaths_df.to_csv("../clean data/2018_deaths_clean.csv")

## OD Death Data

In [9]:
od_death_df = pd.read_csv("cleaned_od_death_2018.csv")

In [10]:
od_death_df = od_death_df.drop(['Year', 'Unnamed: 0', 'County Code Number', 'Suppression Information'], axis=1)

In [11]:
od_death_df.head()

        County  Count    Type of Overdose Death
0    Allegheny  411.0    Opioid Overdose Deaths
1      Juniata    1.0    Opioid Overdose Deaths
2        Adams   16.0  Any Drug Overdose Deaths
3   Cumberland   46.0    Opioid Overdose Deaths
4  Northampton   57.0    Opioid Overdose Deaths

In [12]:
od_death_any_overdose = od_death_df.loc[od_death_df['Type of Overdose Death'] == 'Any Drug Overdose Deaths']
od_death_opioid_overdose = od_death_df.loc[od_death_df['Type of Overdose Death'] == 'Opioid Overdose Deaths']

In [13]:
od_death_any_overdose = od_death_any_overdose.drop(columns='Type of Overdose Death')
# od_death_any_overdose = od_death_any_overdose.set_index('County')

od_death_opioid_overdose = od_death_opioid_overdose.drop(columns='Type of Overdose Death')
# od_death_opioid_overdose = od_death_opioid_overdose.set_index('County')

In [14]:
od_death_any_overdose = od_death_any_overdose.sort_index()
od_death_any_overdose = od_death_any_overdose.rename(columns={'Count':'Any Drug Overdose Deaths'})
od_death_any_overdose.head()

     County  Any Drug Overdose Deaths
2     Adams                      16.0
5     Berks                      85.0
7   Cambria                      63.0
8  Sullivan                       0.0
9    Mercer                      51.0

In [15]:
od_death_opioid_overdose = od_death_opioid_overdose.sort_index()
od_death_opioid_overdose = od_death_opioid_overdose.rename(columns={'Count' : 'Opioid Overdose Deaths'})
od_death_opioid_overdose.head()

        County  Opioid Overdose Deaths
0    Allegheny                   411.0
1      Juniata                     1.0
3   Cumberland                    46.0
4  Northampton                    57.0
6       Potter                     0.0

In [16]:
od_deaths_finished = od_death_any_overdose.merge(od_death_opioid_overdose, on='County')

In [18]:
od_deaths_finished = od_deaths_finished.set_index('County')
od_deaths_finished = od_deaths_finished.sort_index()
od_deaths_finished.head()

           Any Drug Overdose Deaths  Opioid Overdose Deaths
County
Adams                          16.0                    16.0
Allegheny                     487.0                   411.0
Armstrong                      22.0                    21.0
Beaver                         43.0                    40.0
Bedford                         1.0                     1.0

In [19]:
od_deaths_finished.to_csv('clean data/OD_Deaths_Cleaned_More.csv')