In [7]:
import pandas as pd

population = pd.read_csv("../Original Data Pulls/PA_population.csv", encoding="UTF-8")

population.head()

           Name 2019 Population  Growth Since 2010
0  Philadelphia        1,584,138             3.65%
1     Allegheny        1,218,452            -0.45%
2    Montgomery          828,604             3.46%
3         Bucks          628,195             0.45%
4      Delaware          564,751             1.03%

In [8]:
population = population.drop(columns='Growth Since 2010')
population.head()
population = population.rename(columns={'Name' : 'County'})

In [35]:
population.head()

         County 2019 Population
0  Philadelphia        1,584,138
1     Allegheny        1,218,452
2    Montgomery          828,604
3         Bucks          628,195
4      Delaware          564,751

TypeError: string indices must be integers

In [36]:
population = population.set_index('County')

In [37]:
population.head()

             2019 Population
County
Philadelphia        1,584,138
Allegheny           1,218,452
Montgomery            828,604
Bucks                 628,195
Delaware              564,751

In [38]:
population.to_csv("../clean data/PA_population_clean.csv")